In [ ]:
#Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#Load data into the dataframe
rawdf = pd.read_csv("Resources/cardata.csv")
rawdf.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [ ]:
'''
Ideas for Exploratory Data Analysis (EDA)
- Look at Datatypes
- .describe()
- Look at Columns, decide if there are any worth removing
- Rename columns
- Remove duplicates
- Drop Null values
- Identify and remove outliers

Graph ideas
- Histogram of make, model, year, Cylinders, transmission
- (Avg hwy mpg, city mpg, popularity) by (Make, Model, Year)
- Correlation matrix ('heat map')
  - Scatterplot of any two metrics that have a correlation higher than +/- .6
'''

In [ ]:
#Looks at the datatypes in each column of the dataframe
rawdf.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [ ]:
# Does a statistical analysis of all columns with numeric datatypes 
rawdf.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [ ]:
#Makes a list of all the columns and stores in an object
allcolumns = list(rawdf.columns)
allcolumns

['Make',
 'Model',
 'Year',
 'Engine Fuel Type',
 'Engine HP',
 'Engine Cylinders',
 'Transmission Type',
 'Driven_Wheels',
 'Number of Doors',
 'Market Category',
 'Vehicle Size',
 'Vehicle Style',
 'highway MPG',
 'city mpg',
 'Popularity',
 'MSRP']

In [11]:
# Select the columns that we want in our cleaned dataframe
finalcolumns = [
    'Make',
    'Model',
    'Year',
    # 'Engine Fuel Type',
    'Engine HP',
    'Engine Cylinders',
    'Transmission Type',
    'Driven_Wheels',
    # 'Number of Doors',
    # 'Market Category',
    # 'Vehicle Size',
    # 'Vehicle Style',
    'highway MPG',
    'city mpg',
    # 'Popularity',
    'MSRP'
]
finalcolumns

['Make',
 'Model',
 'Year',
 'Engine HP',
 'Engine Cylinders',
 'Transmission Type',
 'Driven_Wheels',
 'highway MPG',
 'city mpg',
 'MSRP']

In [13]:
# Create New DataFrame with just the selected columns
cleandf = rawdf[finalcolumns]
cleandf.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,34500

In [ ]:
# Checks the number of rows and columns respectively
cleandf.shape

(11914, 10)

In [ ]:
# Counts the number of non-Null values in each column
cleandf.count()

Make                 11914
Model                11914
Year                 11914
Engine HP            11845
Engine Cylinders     11884
Transmission Type    11914
Driven_Wheels        11914
highway MPG          11914
city mpg             11914
MSRP                 11914
dtype: int64

In [ ]:
# Removing all rows that have duplicate values and viewing the top 5 rows
cleandf=cleandf.drop_duplicates()
cleandf.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,34500

In [ ]:
# Counts the number of non-Null values in each column
cleandf.count()

Make                 10925
Model                10925
Year                 10925
Engine HP            10856
Engine Cylinders     10895
Transmission Type    10925
Driven_Wheels        10925
highway MPG          10925
city mpg             10925
MSRP                 10925
dtype: int64

In [ ]:
# Counts the number of Null values in each row. The inverse of the above cell
cleandf.isnull().sum()

Make                  0
Model                 0
Year                  0
Engine HP            69
Engine Cylinders     30
Transmission Type     0
Driven_Wheels         0
highway MPG           0
city mpg              0
MSRP                  0
dtype: int64

In [ ]:
# Drops all rows containing null values from the dataframe
cleandf= cleandf.dropna()
cleandf.count()

Make                 10827
Model                10827
Year                 10827
Engine HP            10827
Engine Cylinders     10827
Transmission Type    10827
Driven_Wheels        10827
highway MPG          10827
city mpg             10827
MSRP                 10827
dtype: int64

In [ ]:
# Counts the number of Null values in each column. Showing that the .dropna() worked
cleandf.isnull().sum()

Make                 0
Model                0
Year                 0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
highway MPG          0
city mpg             0
MSRP                 0
dtype: int64

In [ ]:
# Set values for IQA to identify 
# Q1 = cleandf.quantile(0.25)
# Q3 = cleandf.quantile(.75)
# Q1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# Isolating the numeric columns to perfrom the IQR to identify outliers
df = cleandf.describe()
numcolumns = df.columns
cardf = cleandf[numcolumns]
cardf

       Year  Engine HP  Engine Cylinders  highway MPG  city mpg   MSRP
0      2011      335.0               6.0           26        19  46135
1      2011      300.0               6.0           28        19  40650
2      2011      300.0               6.0           28        20  36350
3      2011      230.0               6.0           28        18  29450
4      2011      230.0               6.0           28        18  34500
...     ...        ...               ...          ...       ...    ...
11909  2012      300.0               6.0           23        16  46120
11910  2012      300.0               6.0           23        16  56670
11911  2012      300.0               6.0           23        16  50620
11912  2013      300.0               6.0           23        16  50920
11913  2006      221.0               6.0           26        17  28995

[10827 rows x 6 columns]

In [ ]:
# Set values for IQA to identify 
Q1 = cardf.quantile(0.25)
Q3 = cardf.quantile(.75)
IQR = Q3-Q1
IQR

Year                    9.0
Engine HP             130.0
Engine Cylinders        2.0
highway MPG             8.0
city mpg                6.0
MSRP                21327.5
dtype: float64

In [32]:
finaldf = cleandf[~((cleandf < (Q1 - 1.5 * IQR)) |(cleandf > (Q3 + 1.5 * IQR)))]
finaldf

ValueError: Operands are not aligned. Do `left, right = left.align(right, axis=1, copy=False)` before operating.